.navigation{
    font-family: "Ubuntu", sans-serif;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

.brand-logo{
    /* height: 50px; */
    width: 44px;
}